body {
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.gameboard{
    display: grid;
    align-self: center;
    max-height: 500px;
    width: 30%;
    aspect-ratio: 1;
    /* background-color: #a3a3a3; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

.game-grid{
    background-color: #a3a3a3;
}